* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  background-color: #3E5843;
  margin-top: 30px;
}


.billboard {
  width: 960px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.title {
  height: 240px;
  width: 310px;
  background-color: #EAF0ED;
  color: #3F5C46;
  font-size: 80px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title2 {
  height: 240px;
  width: 310px;
  background-color: white;
}

.p1 {
  color: #3F5C46;
  text-align: center;
  font-size: 25px;
  font-weight: bold;

  padding-top: 20px;
  padding-bottom: 20px;
}

.p2 {
  font-weight: bold;
  font-size: 20px;

  padding: 0 20px;
}