* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: arial;
}

.m20 {
  margin-top: 20px;
}



/* ----- Header ----- */



.header {
  display: flex;
  justify-content: space-between;

  background-color: #eaf0ed;
  padding: 15px;

  box-shadow: 1px 2px 5px rgba(0,0,0,0.3); 
}

.header img {
  height: 60px;
  padding-left: 25px;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;

  width: 290px;

  padding-right: 25px;
}

.header li {
  font-weight: bold;
  color: #3f5c46;
}



/* ----- Board ----- */



.board {
  width: 599px;
  padding-top: 100px;
  margin: auto;
}

.board p {
  font-weight: bold;
}



/* ----- Footer ----- */




.footer {
  background-color: #3f5c46;
  
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.footer ul {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;

  width: 250px;
  height: 50px;
  font-size: 14px;
  color: white;

  list-style: none;
  margin: auto;
}