* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: #3f5c46;
  padding-top: 50px;
}

.board {
  width: 1000px;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  margin: auto;
}

.m30 {
  margin-top: 30px;
}



/* ----- Header ----- */



.header {
  display: flex;
  justify-content: space-between;
  background-color: #eaf0ed;
  padding: 3px 40px;
  border-radius: 8px 8px 0px 0px;
}

.header p {
  display: flex;
  align-items: center;

  font-size: 20px;
  font-weight: bold;
  color: #3f5c46;
}



/* ----- Page ----- */



.page {
  display: flex;
  justify-content: space-between;

  height: 500px;

  padding: 50px;
}

.box {
  width: 650px;
  position: relative;
}

.box h2 {
  font-size: 30px;
}

.box p {
  font-weight: bold;
}

.post {
  position: absolute;
  bottom: 0px;
}

.post a {
  font-size: 25px;
  color: #3f5c46;
}