* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: rgb(1, 22, 43);
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1000px;
  height: 1000px;
  background-color: #eaf0ed;

  margin: auto;
  position: relative;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1 p {
  font-size: 25px;
  font-weight: bold;
  color: #3f5c46;

  padding: 20px;
}

.box2 {
  display: flex;
  justify-content: space-between;

  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background-color: white;
}

.box2 img {
  padding: 20px 50px;
}

ul {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;

  width: 390px;
  font-size: 15px;
  font-weight: bold;

  padding: 0px 50px;
  list-style: none;
}