* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: rgb(1, 22, 43);
  padding: 100px;
}

.box {
  width: 800px;
  background-color: #bbd9d7;
  margin: auto;

  display: flex;
  justify-content: space-between;
}

.box p {
  display: flex;
  align-items: center;

  font-size: 25px;
  color: white;

  padding: 45px;
}