* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: arial;
}

body {
  margin-top: 30px;
}

.board {
  display: flex;
  margin: auto;
  width: 990px; 
}

.box-left {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #eaf0ed;
  padding: 80px 10px;
}

.list {
  list-style: none;

  font-size: 23px;
  font-weight: bold;
  color: #3f5c46;
}

.m20 {
  margin-top: 20px;
}

.box-right {
  padding: 80px;}

h2 {
  color: #3f5c46;
}

p {
  font-size: 20px;
  font-weight: bold;
}

.img-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-box img {
  width: 165px;
  margin-top: 6px;
}
