* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: rgb(1, 22, 43);
  padding-top: 100px;
}



/* ----- Foreveryone ----- */

.buff {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  color: #93a797;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 70px;
  font-size:25px;
  font-weight: bold;
  color: #8da291;
  background-color: #eaf0ed;
}

.border {
  border: 1px solid rgb(216, 216, 216);
}

.m20 {
  margin-top: 20px;
}



/* ----- Personal ----- */


.board {
  width: 300px;
  background-color: #ffffff;
  margin: auto;
  padding: 10px;
}



.post1 {
  font-size: 16px;

}

.post2 {
  font-size: 20px;
  font-weight: bold;
  
}

.box {
  display: flex;
  align-items: center;
  margin: 10px;
}

ul {
  list-style: none;
  padding: 0px 10px;
}

ul li {
  font-weight: bold;
  color: #68866f;
  margin: 5px;
}