* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  margin-top: 50px;
}

.board {
  width: 940px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: #eaf0ed;
  padding: 200px 100px;
  border-radius: 10px;
}

.word {
  list-style: none;
  width: 464px;
  background-color: #eaf0ed;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.li-1 {
  font-size: 25px;
  font-weight: bold;
  color: #3f5c46;
}

.li-2 {
  font-weight: bold;
  color: #3f5c46;
}

.m20 {
  margin-top: 20px;
}